<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILRepack.Lib" version="2.0.0" targetFramework="net35" />
  <package id="ILRepack.MSBuild.Task" version="1.0.9" targetFramework="net35" />
  <package id="PacketDotNet" version="0.13.0" targetFramework="net35" />
  <package id="SharpPcap" version="4.2.0" targetFramework="net35" />
</packages>